name: Build Website

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          make install_pipenv
          make init

      - name: Configure Git
        run: |
          git config user.email "ooz@users.noreply.github.com"
          git config user.name "ooz"

      - name: Deploy
        run: make deploy
